#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
    margin-top: 6px;
    margin-bottom: 6px;
}

.post-form {
    display: flex;
    flex-direction: column;
}

.post-input {
    height: 10vh;
}